# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java projekte 2.semster\ueb016\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
